﻿@{
    ViewBag.Title = "Home Page";
}
<!--Login-->
<div class="divContenedorLogin">
    <div class="divConrtina1">
    </div>
    <div class="divCortina2">

    </div>

    <div class="divLogo">
        <div class="divBotones">
            <button data-toggle="modal" data-target="#exampleModal" class="btnRegistroLogin">Ingresar</button>
            <button data-toggle="modal" data-target="#exampleModal2" class="btnRegistroLogin">Registrarse</button>
        </div>
    </div>

    <!--
    <div class="divFormulario">

        <h1>Ingreso</h1>
        <br />
        <label class="lblFormRegistro">Correo:</label>
        <br />
        <input class="iptFormRegistro" />
        <br />
        <br />
        <label class="lblFormRegistro">Contraseña:</label>
        <br />
        <input class="iptFormRegistro" />
        <br />
        <br />
        <a href="/Principal">
            <button>Ingreso</button>
        </a>
            <br />
            <br />
            <br />
            <a href="/Registro">Regístrate</a>
            <br />
            <br />


    </div>-->
</div>

<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="divFormulario">
                    <h1>Ingreso</h1>
                    <br />
                    <label class="lblFormRegistro">Correo:</label>
                    <br />
                    <input class="iptFormRegistro" />
                    <br />
                    <br />
                    <label class="lblFormRegistro">Contraseña:</label>
                    <br />
                    <input class="iptFormRegistro" />
                    <br />
                    <br />
                    <a href="/Principal">
                        <button>Ingreso</button>
                    </a>
                    <br />
                    <br />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="divFormulario">

                    <h1>Registro</h1>
                    <br />
                    <label class="lblFormRegistro">Nombre (s):</label>
                    <br />
                    <input class="iptFormRegistro" id="nombres" name="nombres" />
                    <br />
                    <br />
                    <label class="lblFormRegistro">Apellido paterno</label>
                    <br />
                    <input class="iptFormRegistro" id="apellidoPaterno" name="apellidoPaterno" />
                    <br />
                    <br />
                    <label class="lblFormRegistro">Apellido materno</label>
                    <br />
                    <input class="iptFormRegistro" id="apellidoMaterno" name="apellidoMaterno" />
                    <br />
                    <br />
                    <label class="lblFormRegistro">Dependencia:</label>
                    <br />
                    <input class="iptFormRegistro" id="dependencia" name="dependencia" />
                    <br />
                    <br />
                    <label class="lblFormRegistro">Correo:</label>
                    <br />
                    <input class="iptFormRegistro" id="correo" name="correo" />
                    <br />
                    <br />
                    <label class="lblFormContrasena">Contraseña:</label>
                    <br />
                    <input class="iptFormContrasena" id="contrasena" name="contrasena" />
                    <br />


                    <button onclick="registro()">Registrarme</button>



                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
