﻿
@{
    ViewBag.Title = "index";
}

<!--Pasarela-->

<script src="~/js/menuController.js"></script>


<div class="nav">
    <div class="navContenedor">
        <div class="collapse navbar-collapse navColor" style="text-align: center;" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link anav" href="/Principal"><span class="un">Inicio</span></a>
                </li>
                <li>
                    <a class="nav-link anav" href="/Carteles"><span class="un">Carteles</span></a>
                </li>
                <li>
                    <a class="nav-link anav2" href="/Conferencias"><span class="un">Conferencias</span></a>
                </li>
                <li>
                    <a class="nav-link anav2" href="/Galeria"><span class="un">Galería</span></a>
                </li>
                <li>
                    <a class="nav-link anav2" href="/Pasarela"><span class="un">Pasarela</span></a>
                </li>
                <li>
                    <a class="nav-link anav2" href="/Patrocinadores"><span class="un">Patrocinadores</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="divContenedorPasarela">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    </div>

    <div style="padding: 1.5%">

        <span onclick="openNav()">
            <div class="divMenu" style="margin-top:-3px"></div>
            <div class="divMenu"></div>
            <div class="divMenu"></div>
        </span>
    </div>


    <div id="id">

    </div>


</div>
