﻿
@{
    ViewBag.Title = "index";
}
<!--Conferecias-->
<script src="~/js/menuVideo.js"></script>

<div class="nav">
    <div class="navContenedor">
        <div class="collapse navbar-collapse navColor" style="text-align: center;" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link anav" href="/Principal"><span class="un">Inicio</span></a>
                </li>
                <li>
                    <a class="nav-link anav" href="/Carteles"><span class="un">Carteles</span></a>
                </li>
                <li>
                    <a class="nav-link anav2" href="/Conferencia"><span class="un">Conferencias</span></a>
                </li>
                <li>
                    <a class="nav-link anav2" href="/Galeria"><span class="un">Galería</span></a>
                </li>
                <li>
                    <a class="nav-link anav2" href="/Pasarela"><span class="un">Pasarela</span></a>
                </li>
                <li>
                    <a class="nav-link anav2" href="/Patrocinadores"><span class="un">Patrocinadores</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>



<div class="divContenedorConferencias">

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="javascript:void(0)" onclick="closeNavVideo(1)">Presentación</a>
        <a href="javascript:void(0)" onclick="closeNavVideo(2)">Moda tendencias</a>
        <a href="javascript:void(0)" onclick="closeNavVideo(3)">Moda tendencias 2</a>
        <a href="javascript:void(0)" onclick="closeNavVideo(4)">Ixtapaluca</a>
        <a href="javascript:void(0)" onclick="closeNavVideo(5)">Texcoco</a>
        <a href="javascript:void(0)" onclick="closeNavVideo(6)">Tilapa</a>
    </div>


    <div id="id">
        <div style="position: absolute; left: 1.5%; top: 10%;">

            <span onclick="openNav()">
                <div class="divMenu" style="margin-top:-3px"></div>
                <div class="divMenu"></div>
                <div class="divMenu"></div>
            </span>
        </div>


        <img class="imgBack" src="~/Content/assets/images/escenario.png">
        <div style="position: absolute; left: 21%; top: 10%; width: 60%; height: 40%; background-color: rgba(0, 0, 0, 1);"><video id="video" controls controlsList="nodownload" alt="" src="~/Content/assets/videos/presentacion.mp4" style="width: 100%; height: 100%; border: 0px #F00 solid;" /><video src="~/Content/assets/videos/presentacion.mp4" width="100%" height="100%"></video></div>

    </div>


</div>
