﻿
@{
    ViewBag.Title = "index";
}


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<script src="~/js/JavaScript.js" language="javascript" type="text/javascript"></script>

<script src="~/js/menuController.js"></script>




<div class="nav">
    <div class="navContenedor">
        <div class="collapse navbar-collapse navColor" style="text-align: center;" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link anav" href="/Principal"><span class="un">Inicio</span></a>
                </li>
                <li>
                    <a class="nav-link anav" href="/Carteles"><span class="un">Carteles</span></a>
                </li>
                <li>
                    <a class="nav-link anav2" href="/Conferencia"><span class="un">Conferencias</span></a>
                </li>
                <li>
                    <a class="nav-link anav2" href="/Galeria"><span class="un">Galería</span></a>
                </li>
                <li>
                    <a class="nav-link anav2" href="/Pasarela"><span class="un">Pasarela</span></a>
                </li>
                <li>
                    <a class="nav-link anav2" href="/Patrocinadores"><span class="un">Patrocinadores</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>



<!--Carteles-->
<div class="divContenedorCarteles">

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/Principal">Inicio</a>
        <a href="/Pasarela">Pasarela</a>
        <a href="/Carteles">Carteles</a>
        <a href="/Patrocinadores">Patrocinadores</a>
    </div>

    <div style="padding: 1.5%">

        <span onclick="openNav()">
            <div class="divMenu" style="margin-top:-3px"></div>
            <div class="divMenu"></div>
            <div class="divMenu"></div>
        </span>
    </div>


    <div id="id">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
                <li data-target="#myCarousel" data-slide-to="6"></li>
                <li data-target="#myCarousel" data-slide-to="7"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="divContenedorCarteles2">

                        <img data-toggle="modal" data-target="#exampleModal" onclick="openModal(1)" class="contendorCartel marginDer" src="~/Content/assets/images/PDFIMG/pdf1-1.png" type="application/pdf" />

                        <img data-toggle="modal" data-target="#exampleModal" onclick="openModal(2)" class="contendorCartel marginIzq" src="~/Content/assets/images/PDFIMG/pdf2-1.png" type="application/pdf" />
                    </div>
                </div>
                <div class="item">
                    <div class="divContenedorCarteles2">
                        <img data-toggle="modal" data-target="#exampleModal" onclick="openModal(3)" class="contendorCartel marginDer" src="~/Content/assets/images/PDFIMG/pdf3-1.png" type="application/pdf" width="30%" height="400px" />
                        <img data-toggle="modal" data-target="#exampleModal" onclick="openModal(4)" class="contendorCartel marginIzq" src="~/Content/assets/images/PDFIMG/pdf4-1.png" type="application/pdf" width="30%" height="400px" />

                    </div>
                </div>
                <div class="item">
                    <div class="divContenedorCarteles2">
                        <img data-toggle="modal" data-target="#exampleModal" onclick="openModal(5)" class="contendorCartel marginDer" src="~/Content/assets/images/PDFIMG/pdf5-1.png" type="application/pdf" width="30%" height="400px" />
                        <img data-toggle="modal" data-target="#exampleModal" onclick="openModal(6)" class="contendorCartel marginIzq" src="~/Content/assets/images/PDFIMG/pdf6-1.png" type="application/pdf" width="30%" height="400px" />

                    </div>
                </div>

                <div class="item">
                    <div class="divContenedorCarteles2">
                        <img data-toggle="modal" data-target="#exampleModal" onclick="openModal(7)" class="contendorCartel marginDer" src="~/Content/assets/images/PDFIMG/pdf7-1.png" type="application/pdf" width="30%" height="400px" />
                        <img data-toggle="modal" data-target="#exampleModal" onclick="openModal(8)" class="contendorCartel marginIzq" src="~/Content/assets/images/PDFIMG/pdf8-1.png" type="application/pdf" width="30%" height="400px" />

                    </div>
                </div>
                <div class="item">
                    <div class="divContenedorCarteles2">
                        <img data-toggle="modal" data-target="#exampleModal" onclick="openModal(9)" class="contendorCartel marginDer" src="~/Content/assets/images/PDFIMG/pdf9-1.png" type="application/pdf" width="30%" height="400px" />
                        <img data-toggle="modal" data-target="#exampleModal" onclick="openModal(10)" class="contendorCartel marginIzq" src="~/Content/assets/images/PDFIMG/pdf10-1.png" type="application/pdf" width="30%" height="400px" />

                    </div>
                </div>
                <div class="item">
                    <div class="divContenedorCarteles2">
                        <img data-toggle="modal" data-target="#exampleModal" onclick="openModal(11)" class="contendorCartel marginDer" src="~/Content/assets/images/PDFIMG/pdf11-1.png" type="application/pdf" width="30%" height="400px" />
                        <img data-toggle="modal" data-target="#exampleModal" onclick="openModal(12)" class="contendorCartel marginIzq" src="~/Content/assets/images/PDFIMG/pdf12-1.png" type="application/pdf" width="30%" height="400px" />
                    </div>
                </div>

                <div class="item">
                    <div class="divContenedorCarteles2">
                        <img data-toggle="modal" data-target="#exampleModal" onclick="openModal(13)" class="contendorCartel marginDer" src="~/Content/assets/images/PDFIMG/pdf13-1.png" type="application/pdf" width="30%" height="400px" />
                        <img data-toggle="modal" data-target="#exampleModal" onclick="openModal(14)" class="contendorCartel marginIzq" src="~/Content/assets/images/PDFIMG/pdf14-1.png" type="application/pdf" width="30%" height="400px" />

                    </div>
                </div>
                <div class="item">
                    <div class="divContenedorCarteles2">
                        <img data-toggle="modal" data-target="#exampleModal" onclick="openModal(15)" class="contendorCartel" src="~/Content/assets/images/PDFIMG/pdf15-1.png" type="application/pdf" width="30%" height="400px" />
                    </div>
                </div>


            </div>





            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>



    </div>

</div>



<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="contenedorPDF">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
