﻿
@{
    ViewBag.Title = "index";
}
<!--Galeria-->
<script src="~/js/menuController.js"></script>
<script type="module" src="~/js/model-viewer.min.js"></script>

<div class="nav">
    <div class="navContenedor">
        <div class="collapse navbar-collapse navColor" style="text-align: center;" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link anav" href="/Principal"><span class="un">Inicio</span></a>
                </li>
                <li>
                    <a class="nav-link anav" href="/Carteles"><span class="un">Carteles</span></a>
                </li>
                <li>
                    <a class="nav-link anav2" href="/Conferencias"><span class="un">Conferencias</span></a>
                </li>
                <li>
                    <a class="nav-link anav2" href="/Galeria"><span class="un">Galería</span></a>
                </li>
                <li>
                    <a class="nav-link anav2" href="/Pasarela"><span class="un">Pasarela</span></a>
                </li>
                <li>
                    <a class="nav-link anav2" href="/Patrocinadores"><span class="un">Patrocinadores</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>







<div class="divContenedorPasarela">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    </div>

    <div style="padding: 1.5%">

        <span onclick="openNav()">
            <div class="divMenu" style="margin-top:-3px"></div>
            <div class="divMenu"></div>
            <div class="divMenu"></div>
        </span>
    </div>


    <div id="id">

        <model-viewer style="margin-top:10%;margin-left: 25%;min-width: 50% !important; min-height: 50vh;" alt="Neil Armstrong's Spacesuit from the Smithsonian Digitization Programs Office and National Air and Space Museum"
                      src="~/Content/assets/modelos3D/model.glb"
                      ar ar-modes="webxr scene-viewer quick-look"
                      poster="~/Content/assets/modelos3D/model.glb" seamless-poster shadow-intensity="1" camera-controls></model-viewer>
    </div>


</div>
