﻿
@{
    ViewBag.Title = "index";
}

<!--Principal-->
<div class="contenedorPrincipal">

    <div class="contenedorMain">
        <img class="imgBack" src="~/Content/assets/images/recepcion.png">
        <div style="position: absolute; left: 67.2%; top: 35.8%; width: 6.6%; height: 30%; background-color: rgba(0, 0, 0, .0);"><a href="/Carteles"><img alt="" src="~/Content/assets/images/null.png" style="width: 100%; height: 100%; border: 0px #F00 solid;" /></a></div>
        <div style="position: absolute; left: 9.4%; top: 7.2%; width: 13.4%; height: 13.1%; background-color: rgba(0, 0, 0, .0);"><a href="/Patrocinadores"><img alt="" src="~/Content/assets/images/null.png" style="width: 100%; height: 100%; border: 0px #F00 solid;" /></a></div>
        <div style="position: absolute; left: 42.2%; top: 26.4%; width: 8.4%; height: 23%; background-color: rgba(0, 0, 0, .0);"><a href="/Galeria"><img alt="" src="~/Content/assets/images/null.png" style="width: 100%; height: 100%; border: 0px #F00 solid;" /></a></div>
        <div style="position: absolute; left: 5.2%; top: 33.2%; width: 17.7%; height: 13.2%; background-color: rgba(0, 0, 0, .0);"><a href="/Pasarela"><img alt="" src="~/Content/assets/images/null.png" style="width: 100%; height: 100%; border: 0px #F00 solid;" /></a></div>
        <div style="position: absolute; left: 5.2%; top: 49.6%; width: 17.7%; height: 13.2%; background-color: rgba(0, 0, 0, .0);"><a href="/Conferencias"><img alt="" src="~/Content/assets/images/null.png" style="width: 100%; height: 100%; border: 0px #F00 solid;" /></a></div>

    </div>



    
    <div class="divTelon animacion3">
      
        <div class="divConrtina1 animacion">
        </div>

        <div class="divCortina2 animacion2">
        </div>

        <div class="divLogo animacion4">
        </div>

    </div>
        

</div>


