﻿
@{
    ViewBag.Title = "index";
}






<!--Registro-->
<div class="prueba">


    <div class="divFormulario">

        <h1>Registro</h1>
        <br />
        <label class="lblFormRegistro">Nombre (s):</label>
        <br />
        <input class="iptFormRegistro" id="nombres"/>
        <br />
        <br />
        <label class="lblFormRegistro">Apellido paterno</label>
        <br />
        <input class="iptFormRegistro" id="apellidoPaterno"/>
        <br />
        <br />
        <label class="lblFormRegistro">Apellido materno</label>
        <br />
        <input class="iptFormRegistro" id="apellidoMaterno"/>
        <br />
        <br />
        <label class="lblFormRegistro">Dependencia:</label>
        <br />
        <input class="iptFormRegistro" id="dependencia"/>
        <br />
        <br />
        <label class="lblFormRegistro">Correo:</label>
        <br />
        <input class="iptFormRegistro" id="correo"/>
        <br />
        <br />

        @*<button onclick="registro()">Registrarme</button>*@

        <input type="button" name="registro" value="registrarme" onclick="registro()"/>



    </div>
</div>
