﻿
@{
    ViewBag.Title = "index";
}


<!--Patrocinadores-->
<script src="~/js/menuController.js"></script>

<div class="nav">
    <div class="navContenedor">
        <div class="collapse navbar-collapse navColor" style="text-align: center;" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link anav" href="/Principal"><span class="un">Inicio</span></a>
                </li>
                <li>
                    <a class="nav-link anav" href="/Carteles"><span class="un">Carteles</span></a>
                </li>
                <li>
                    <a class="nav-link anav2" href="/Conferencias"><span class="un">Conferencias</span></a>
                </li>
                <li>
                    <a class="nav-link anav2" href="/Galeria"><span class="un">Galería</span></a>
                </li>
                <li>
                    <a class="nav-link anav2" href="/Pasarela"><span class="un">Pasarela</span></a>
                </li>
                <li>
                    <a class="nav-link anav2" href="/Patrocinadores"><span class="un">Patrocinadores</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="divContenedorPatrocinadores">


    <div id="id">
        <img class="imgBack" src="~/Content/assets/images/patrocinadores.png">

        <div style="position: absolute; left: 14%; top: 30.8%; width: 74%; height: 35.4%; background-color: rgba(0, 0, 0, .8);"><a><img alt="" src="~/Content/assets/images/lista_patrocinadores.jpg" style="width: 100%; height: 100%; border: 0px #F00 solid;" /></a></div>

    </div>
</div>

