﻿body {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*estilos login*/
.divContenedorLogin {
    min-width: 100vw;
    height: auto;
}


.divConrtina1 {
    position: absolute;
    background-image: url("assets/images/cortina1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 0%;
    max-width: 50%;
    min-width: 50%;
    height: 100vh !important;
}


.divCortina2 {
    position: absolute;
    background-image: url("assets/images/cortina2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left:50%;
    max-width: 50%;
    min-width: 50%;
    height: 100vh !important;
}


.divLogo {
    position: absolute;
    background-image: url("assets/images/runway2021.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 30%;
    margin-top: 5%;
    max-width: 40%;
    min-width: 40%;
    height: 40vw !important;
}



.divBotones {
    text-align: center;
    margin-top: 110%;
    
}

.btnRegistroLogin {
    min-width: 40%;
    max-width: 40%;
    background-color: #681384;
    color: white;
}

/*estilos para registro*/
.divContenedorRegistro{
    min-width: 100vw;
    height: auto;
}

.divFormulario{
    margin-top: 5vh;
    text-align: center;
    margin-left: 35%;
    max-width:30%;
    min-width:30%;
}


.lblFormRegistro {
    max-width: 100%;
    min-width: 100%;
    text-align: left;
}

.iptFormRegistro {
    max-width: 100%;
    min-width: 100%;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 2px;
    padding-top: 2px;
}

/*stilos carteles*/
.divContenedorCarteles {
    min-width: 100vw;
    height: 100vh !important;
    background-image: url( "assets/images/carteles_02.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.divContenedorCarteles2{
    padding-top: 10%;
    text-align: center;
    min-width: 100%;
    max-width: 100%;
  
}

.contendorCartel {
    min-width: 30vw;
    height: 45vh
}

.marginIzq{
    margin-left: 5%;
}

.marginDer {
    margin-right: 5%;
}


    /*******principal******/

.contenedorPrincipal{
    max-width:100%;
    min-width:100%;

    position: relative;
}

.contenedorMain {
    max-width: 100%;
    min-width: 100%;
    position: absolute;
    /*
    background-image: url("assets/images/recepcion.png");
    background-size: 100% auto;
    background-repeat: no-repeat;*/
    height: 100vh !important;
}


.divTelon{
    position: absolute;
    width:100vw;
    height:100vh;
    visibility:hidden;
}


.animacion {
    animation-delay: 1s;
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-right: 0%;
        width: 100%;
    }

    to {
        margin-left: -50%;
        width: 100%;
        visibility: hidden;
    }
}


.animacion2 {
    animation-delay: 1s;
    animation-duration: 2s;
    animation-name: slidein2;
}

@keyframes slidein2 {
    from {
        margin-left: 50%;
        width: 100%;
    }

    to {
        margin-left: 100%;
    
        width: 100%;
        visibility:hidden;
    }
}



.animacion3 {
    animation-duration: 3s;
    animation-name: slidein3;
}

@keyframes slidein3 {
    from {
        visibility:initial;
    }

    to {
        visibility: hidden;
    }
}



.animacion4 {
    animation-delay: 1s;
    animation-duration: 2s;
    animation-name: slidein4;
}

@keyframes slidein4 {
    from {
        margin-top: 5%;
    }

    to {
        margin-top: -50%;
    }
}




.imgBack {
    width: 100%;
    height: auto;
}



/*******patrocinadores******/
.divContenedorPatrocinadores {
    min-width: 100vw;
    height: 100vh !important;
}


/*******pasarela******/
.divContenedorPasarela {
    min-width: 100vw;
    height: 100vh !important;
    background-image: url( "assets/images/pasarela_back.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-image: url("assets/images/cortina1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 1s; /* 0.5 second transition effect to slide in the sidenav */
}

    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: white;
        display: block;
        transition: 0.3s;
    }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover {
            color: #f1f1f1;
        }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 10px;
    }

        .sidenav a {
            font-size: 15px;
        }
}


.divContenedorIcon{
    min-height: 10%
}

.divMenu {
    border-radius: 5px;
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 3px 0;
}

/* Conferecnias */
.divContenedorConferencias {
    min-width: 100vw;
    height: 100vh !important;
}


.nav {
    min-width: 100%;
    max-width: 100%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.navContenedor {
    min-width: 80%;
    max-width: 80%;
    margin-left: 10%;
}

.navContenedor ul {
    min-width: 100% !important;
    max-width: 100% !important;
}

.navContenedor li {
    min-width: 16.6% !important;
    max-width: 16.6% !important;
    list-style-type: none;
}


.nav li:hover a {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
    animation: line 1s;
    color: #d90000;
}

.nav li a {
    font-size: 18px;
    color: #777;
    text-decoration: none;
    transition: all 0.45s; 
}


@keyframes line {
    0% {
        background-position-x: 390px;
    }
}


